#########################
# Minecraft runtime
#########################

paper/world/
paper/world_nether/
paper/world_the_end/

paper/logs/
velocity/logs/

paper/cache/
paper/libraries/

#########################
# Java
#########################

*.jar

#########################
# Docker
#########################

*.pid

#########################
# Backups
#########################

backups/

*.tar
*.tar.gz
*.zip

#########################
# Packet captures
#########################

captures/

*.pcap
*.pcapng

#########################
# OS
#########################

.DS_Store

#########################
# IDE
#########################

.vscode/
.idea/

#########################
# Secrets
#########################

.env.local

#########################
# Temporary
#########################

tmp/

*.log
